<section id="our-suggestions" class="our-suggestions-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h1><%= t("our_suggestions.header") %></h1>
        <p class="tagline"><%= t("our_suggestions.tagline") %></p>
      </div>
      <div class="col-lg-3">
        <p><a href="http://www.santanahotel.pt/">Hotel Santana</a></p>
        <p>
        <a href="https://www.facebook.com/pages/Estalagem-Brasao/358686730880852">Estalagem Brasão</a>
        </p>
      </div>
    </div>
  </div>
</section>
